body {
    font-family: lato;
    background: linear-gradient(to right, rgb(226, 31, 31), rgb(34, 51, 207));
    color: white;
    text-align: center;
    font-size: large;
}
title {
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}
title:hover {

}
pfp {

}
pfp:hover {

}
