body {
    font-family: lato;
    background: linear-gradient(to bottom right, rgb(226, 31, 31), rgb(34, 51, 207));
    color: white;
    text-align: center;
    font-size: large;
    background: linear-gradient(to bottom right, rgb(226, 31, 31), rgb(34, 51, 207));
    height: 100%;
    align-items: center;
    justify-content: center;
    display: block;
    position: relative;
}
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
  background: transparent;
}
.title {
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 45px 0.5px rgba(0, 0, 0, .25);
    margin-top: 25px;
    transition: transform 0.3s ease;
}
.title:hover {
    transform: scale(1.05);
}
.pfp {
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 45px 0.5px rgba(0, 0, 0, .25);
    margin-top: 25px;
    transition: transform 0.3s ease;
}
.pfp img {
    width: 200px;
    border-radius: 10px
}
.pfp:hover {
    transform: scale(1.05);
}
.skill-container {
    margin-bottom: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 45px 0.5px rgba(0, 0, 0, .25);
    border-radius: 25px;
    margin-top: 25px;
    transition: transform 0.3s ease;
}
.skill-container:hover {
    transform: scale(1.05);
}
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 9px;
    overflow: hidden;
    margin: 5px 0;
}

.progress {
    height: 20px;
    background-color: #76c7c0;
    width: 0;
    transition: width 1s ease-in-out;
}

.percentage {
    font-size: 14px;
    font-weight: bold;
}
.games {
    margin-bottom: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 45px 0.5px rgba(0, 0, 0, .25);
    border-radius: 25px;
    margin-top: 25px;
    transition: transform 0.3s ease;
}
.games:hover {
    transform: scale(1.05);
}
.games p {
text-decoration: none;
transition: transform 0.3s ease;
}
.games a {
text-decoration: none;
color: white;
transition: transform 0.3s ease;
}
.games a:hover {
    transform: scale(1.05);
}
.games p:hover {
text-decoration: none;
transform: scale(1.05);
}
.projectsText {
    margin-bottom: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 45px 0.5px rgba(0, 0, 0, .25);
    border-radius: 25px;
    margin-top: 25px;
    transition: transform 0.3s ease;
}
.projectsText:hover {
    transform: scale(1.05);
}
.GAS {
    flex: 1 1 calc(33.333% - 20px); 
    margin-bottom: 20px;
    width: 50%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 45px 0.5px rgba(0, 0, 0, .25);
    border-radius: 25px;
    margin-top: 25px;
    transition: transform 0.3s ease;
}
.GASP {
    flex: 1 1 calc(33.333% - 20px);
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 45px 0.5px rgba(0, 0, 0, .25);
    border-radius: 25px;
    margin-top: 25px;
    transition: transform 0.3s ease;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between items */
    padding: 10px;
}
.GAS img {
    width: 50%;
}
.GASP img {
    width: 50%;
}