@import url(style.css);

nav .navitems {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  font-size: 22px;
  left: 0;
  right: 0;
  padding: 0 25px;
  background-color: rgba(255, 255, 255, 0.02);
  backface-visibility: visible;
  transition: top 0.35s ease;
  z-index: 100;
  backdrop-filter: blur(10px);
  margin: 16px;
  margin-left: 8px;
  margin-right: 8px;
  top: -100px; /* Initially hide the navbar */
}

nav .navitems.visible {
  top: 0;
  animation: bounceIn 0.5s;
}

nav .navitems.hidden {
  top: -100px;
  transition: top 0.5s ease;
}

nav a {
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  transition: all 0.6s;
  padding: 5px 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all;
}

@media (max-width: 768px) {
  nav .navitems {
    font-size: 16px;
    padding: 0 10px;
    margin: 8px;
  }

  nav a {
    font-size: 14px;
    margin: 5px;
    padding: 5px 20px;
  }
}

@keyframes bounceIn {
  0% {
    top: -100px;
  }
  50% {
    top: 20px;
  }
  70% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}
